<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="books"
      href="/tabs/books"
      style="color: rgb(17, 17, 167)"
    >
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Books</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="songs" href="/tabs/songs" style="color: blueviolet">
      <ion-icon name="musical-notes-outline"></ion-icon>
      <ion-label>Songs</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="movies"
      href="/tabs/movies"
      style="color: rgb(67, 160, 36)"
    >
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Movies</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
