<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Books </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card
    style="
      text-align: center;
      background-color: rgb(191, 169, 129);
      color: black;
      border: 1px solid rgb(94, 94, 94);
    "
  >
    <div>
      <img
        alt="Haruki
      Murakami"
        src="https://m.media-amazon.com/images/I/5103r6tnGDL._SL500_.jpg"
      />
    </div>
    <ion-card-header>
      <ion-card-title style="font-weight: bold; color: rgb(106, 11, 4)"
        >What I Talked About When I Talk About by Haruki
        Murakami</ion-card-title
      >
      <ion-card-subtitle style="color: rgb(31, 8, 0)"
        >Genre: Biography</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      Haruki Murakami shares his thoughts on the connection between his life as
      a writer and his love for running. The book is a mix of personal stories
      and reflections, exploring how the discipline of running influences his
      creative process and offers insights into life's journey.
    </ion-card-content>
  </ion-card>
  <ion-card
    style="
      text-align: center;
      color: white;
      background-color: rgb(87, 174, 158);
      border: 1px solid rgb(105, 105, 105);
      margin-top: 3rem;
    "
  >
    <div>
      <img
        alt="Jostein Gaarder"
        src="https://m.media-amazon.com/images/I/51q4wWjbWqL._SL500_.jpg"
      />
    </div>
    <ion-card-header>
      <ion-card-title style="font-weight: bold; color: white"
        >Sophie's World by Jostein Gaarder
      </ion-card-title>
      <ion-card-subtitle
        >Genres: Novel, Philosophical fiction</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content style="color: rgb(60, 88, 129)">
      "Sophie's World" is a novel by Jostein Gaarder that tells the story of a
      teenage girl named Sophie who discovers the world of philosophy through
      mysterious letters. The book takes readers on a journey through the
      history of Western philosophy in an engaging and accessible way, making
      complex ideas easy to understand.
    </ion-card-content>
  </ion-card>
</ion-content>
